<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Dog Images 2</title>
    
</head>
<body>
    <form class="container" action='/dogSearch'>
        <input  id='btn' type="submit" value="Click for new dog">
        <h1>Random Dog Pic Generator</h1>
        <img id="pic" src='<%= image%>' alt="Dog Image">
    </form>

</body>
</html>