* {
    font-family: monospace;
    box-sizing: border-box;
}

img{
    width: 100%;
    
}

#container {
   position: relative;
   width: 550px;
   margin: 0 auto;
}

.text {
    position: absolute;
    background: rgba(0,0,0,0.5);
    bottom: 4px;
    width: 100%;
    padding: 20px;
    color: white;
}