
<%- include('partials/header')%>

        <div class="jumbotron container">
            <h1>About our company!</h1>
            <p>
               We got glazed, chocolate iced, raspberry filled, powdered cake, and about three dozen
               other flavors to satisfy your sugar cravings!
            </p>
        </div>
        
<%- include('partials/footer')%>     