<%- include('partials/header')%>
<div class="jumbotron container">
    <div style="margin-left: 200px;">
        <h1>Contact page</h1>
        <hr>
        <br>
        <p>Got suggestions? Shoot us a message!</p>
        <textarea style="width: 500px; height: 200px;">
                
        </textarea>
        <br>
        <button>Submit</button>
    </div>
</div>


<%- include('partials/footer')%>