* {
    padding: 0;
    margin: 0;
}
.nav {
    padding-right: 600px;
}

.background {
    background-image: url('images/background.jpg');
    background-size: cover;
}

.display {
    font-size: 40px;
    font-weight: ;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-top: 100px;
    margin-bottom: 50px;
}
.signup {
  margin-left: 500px;
  margin-bottom: 600px;
  color: white;
}