<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    
    <title>Document</title>
   
</head>
<body>
    <div class="con">
    <h1>
        Bit Coin Price App
    </h1>
    <form>
        <input type="radio" 
        id="usd" 
        name="usd">
        <label>USD</label>

        <input type="radio" 
        id="gbp" 
        name="gbp">
        <label>GBP</label>

        <input type="radio" 
        id="eur" 
        name="eur">
        <label>EUR</label>
        
        <br>
        <button type="submit">Get Price</button>

        <h2>
            This is the current price:
        </h2>

        <% console.log(url)%>

    </form>

    </div>
</body>
</html>



<!-- <h1>BitCoin Price App</h1>
<div class="container">
  <form action = "/bpi/currency" method= "GET">
    <div class="form-check">

      <input id="usd" 
      name="usd" class="form-check-input" 
      type="radio" 
      name="exampleRadios" 
      id="exampleRadios1" 
      value="option1" checked>

      <label class="form-check-label" for="exampleRadios1">
        USD
      </label>
    </div>
    <div class="form-check">

      <input id="gbp" 
      name = "gbp" class="form-check-input" 
      type="radio" 
      name="exampleRadios" 
      id="exampleRadios2" 
      value="option2">

      <label class="form-check-label" for="exampleRadios2">
        GBP
      </label>
    </div>
    <div class="form-check">

      <input id="eur" 
      name="eur" class="form-check-input" 
      type="radio" 
      name="exampleRadios" 
      id="exampleRadios3" 
      value="option3" disabled>

      <label class="form-check-label" for="exampleRadios3">
        EUR
      </label>
    </div>
    <div>

      <button type="submit" 
      class="btn btn-primary 
      btn-lg">Get Price</button>

    </div>
    <div>
        <h3>This is the current price:</h3>
        <p>price</p>//need to add template literal
    </div>
  </div>
  </form> -->