body {
    font-family: roboto;
    margin: 0;
    
}
.navbar {
    background: #3b5998;
    height: 90px;
    overflow: hidden;

}

#logo {
    float: left;
    text-align: center;
    padding: 22px 60px;
    color: white;
}
.navbar a {
    float: right;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 20px;
    padding: 33px 60px;

}

.navbar a:hover {
    background: #039be5;
    color: #ffd54f;
}