* {
    margin: 0;
    padding: 0;

}

main {
    width: 100vw;
    height: 100vh;
    margin: auto;
}
nav {
    background: #3b5998;
    overflow: hidden;
    padding: 22px 60px;
    color: white;
    height: 20vh;
    

}

nav > div {
    background: #29335c;
    width: 18vmax;
    float: right;
    display: inline;
    text-align: center;
    margin: 5px;
    line-height: 60px;
    font-size: 30px;
    font-family: sans-serif;
}

article {
    width: 55vw;
    height: 400px;
    display: inline-block;
    background-color: red;
    margin: 20px auto;
    text-align: center;
    color: white;
}

aside {
    height: 400px;
    width: 43vw;
    background-color: darkmagenta;
    display: inline-block;
    margin: 20px auto;
    float: right;
    text-align: center;
    color: white;
}

footer {
    height: 120px;
    width: 100vw;
    background-color: dodgerblue;
    text-align: center;
    color: white;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   article {
       display: inline-block;
       width: 100vw;
       margin-top: 0;
       margin-bottom: 0;
   }
   aside {
       display: inline-block;
       width: 100vw;
       margin-top: 0;
       margin-bottom: 0;
   }
   footer {
       display: inline-block;
       width: 100vw;
   }
   nav {
       height: 15vh;
   }

}
@media only screen and (min-device-width : 375px) and (max-device-width : 736px) {
    article {
        display: inline-block;
        width: 100vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    aside {
        display: inline-block;
        width: 100vw;
        margin-top: 0;
        margin-bottom: 0;
    }
    footer {
        display: inline-block;
        width: 100vw;
    }
    nav > div {
        display: inline-block;
        vertical-align: middle;
        height: 9vh;
        width: 20vw;
    }
}